.ysx-productAdd{
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;

}


.rightMove11{
  width: 100%;
  position: absolute;
  top:80px;
  left: 187px;
  transition: all 1.5s;
}

.productAdd{
  width: 100%;
  position: absolute;
  top:80px;
  left:0;
  transition: all 1.5s;

}
.productAdd-top{
  width: 95%;
  font-size: 20px;
  margin: 10px auto;
  color: #d93f30;
  font-size: 20px;
}
.productAdd-bottom-top button{
  width: 100px;
  height: 30px;
  background-color: #3EC455;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  float: right;
  margin: 5px 50px 5px 0;

}
.productAdd-bottom{
  width: 95%;
  margin: 0 auto;

}



.productAdd-bottom-div{
  display: flex;
  background-color: #f0f0f0;
}
.productAdd-bottom-div-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productAdd-bottom-div-right{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productAdd-bottom-div-right select{
  width:80% ;
  height: 30px;
  margin: 5px auto;
}
.productAdd-bottom-div-right input{
  width: 80%;
  height: 30px;
  border: 1px solid #f0f0f0;
  margin: 5px auto;
}
.productAdd-bottom-div-right textarea{
  width: 80%;
  height: 500px;
  border: 1px solid#f0f0f0;

}

.productXQ{
  width: 200px;
  height: 50px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px auto;
}
@media screen and (min-width: 650px){
  .productAdd-bottom-div-right select{
    width:400px ;
    height: 30px;
    margin: 5px auto;
  }
  .productAdd-bottom-div-right input{
    width: 400px;
    height: 30px;
    border: 1px solid #f0f0f0;
    margin: 5px auto;
  }

}
#editor{
  width: 90%;
  height: 500px;
  margin: 0 auto;
}