.ysx-classify{
  overflow-x: hidden;
  position: relative;

}

#classify>div{
  width: 95%;
  margin: 0 auto;
  height: 100%;
  background-color: #ffffff;
}



.classify{
  width: 100%;
  position: absolute;
  top:80px;
  left:0;
  background-color: #ffffff;
  transition: all 1.5s;
}

.rightMoveClassify{
  width: 100%;
  position: absolute;
  top:80px;
  left: 187px;
  background-color: #ffffff;
  transition: all 1.5s;
}

.classify-div{
  background-color: #ffffff;
  border: 1px solid#000000;
}
.classify-title{
  height: 30px;

}


.classify-title-left{
  float: left;
  font-size: 16px;
  margin-top: 7px;
  margin-left: 50px;
}

.classify-title-right{
  float: right;
  font-size: 16px;
  margin-top: 7px;
  margin-right: 50px;
}

.classify-top{
  height: 30px;
  margin: 10px auto 0 auto;
  background-color: #f0f0f0;
  display: flex;

}
.classify-bottom-template:nth-child(2n){
  height: 30px;
  background-color: #f0f0f0;
  display: flex;
}

.classify-bottom-template:nth-child(2n+1){
  height: 30px;
  display: flex;
}

.classify-top-ID,.classify-bottom-ID{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.classify-top-name,.classify-bottom-name{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.classify-top-cz,.classify-bottom-cz{
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classify-bottom-cz-xg{
  color: blue;
  margin-right: 5%;
}
.classify-bottom-cz-xg{
  color: blue;
}

@media screen and (min-width: 500px){
  .classify-title{
    width: 500px;
    margin: 0 auto;
  }
  .classify-top{
    width: 500px;
    margin: 10px auto 0 auto;

  }
  .classify-bottom{
    width: 500px;
    margin: 0 auto;

  }

}