.yc-home{
  overflow-x: hidden;
  position: relative;

}
.yc-home-te{
  height: 50px;
}
.content-home{
  width: 100%;
  position: absolute;
  top:80px;
  left:0;
  transition: all 1.5s;

}

.rightMoveHome{
  width: 100%;
  position: absolute;
  top:80px;
  left:187px;
  transition: all 1.5s;
}

#contentHome>div{

  position:  relative;
  height: 100%;
  width: 100%;
}

.home-top{
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 100px;
  color: #3ec455;

}
.home-bottom{
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-bottom-one{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;

}
.home-bottom-two{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.home-bottom-user{
  flex: 1;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
}
.home-bottom-product{
  flex: 1;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
}
.home-bottom-HOrder{
  flex: 1;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
}

.home-bottom-TOrder{
  flex: 1;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
}

.home-bottom-FOrder{
  flex: 1;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
}





.home-bottom .icon-shangpin-{

  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0,185,56,1);
  font-size: 24px;
  color: #ffffff;
  margin-right: 10%;
  margin-left: 10%;
}
.home-bottom .icon-weifukuan{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: rgba(248,176,0,1);
  font-size: 24px;
  color: #ffffff;
  margin-right: 10%;
  margin-left: 10%;
}

.home-bottom .icon-ccgl-yundanguanli-1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: rgba(29,120,229,1);
  font-size: 24px;
  color: #ffffff;
  margin-right: 10%;
  margin-left: 10%;
}



.home-bottom .icon-chulizhong{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: rgba(255,16,103,1);
  font-size: 24px;
  color: #ffffff;
  margin-right: 10%;
  margin-left: 10%;
}

.home-bottom .icon-kehuqunzu{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: rgba(136,49,245,1);
  font-size: 24px;
  color: #ffffff;
  margin-right: 10%;
  margin-left: 10%;
}
.home-bottom .icon-dingdan1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: rgba(255,0,242,1);
  font-size: 24px;
  color: #ffffff;
  margin-right: 10%;
  margin-left: 10%;
}

.home-bottom-right{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-bottom-right p:first-child{
  font-size: 20px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  margin-bottom: 2.5px;

}

.home-bottom-right p:nth-child(2){
  margin-top: 2.5px;
  color:  rgba(0,0,0,0.4);
}



@media screen and (max-width: 560px){
  .home-bottom{
    display: flex;
    align-items: center;

  }
  .home-bottom-one{
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .home-bottom-two{
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-bottom-user{
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
  }
  .home-bottom-product{
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
  }
  .home-bottom-HOrder{
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
  }

  .home-bottom-TOrder{
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
  }

  .home-bottom-FOrder{
    width: 90%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
  }



}